body{
    font-family: Arial;
}

h1{
    color: pink;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.buttonsContainer{
    vertical-align: center;
}

.buttons{
    padding: 10px;
    color: #ff1493;
    align-items: center;
}
